@import "./base.css";

#app {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  font-weight: normal;
  /* border: 2px solid #000000; */
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
